# Xcode project files
21st_c.xcodeproj/xcuserdata
21st_c.xcodeproj/project.xcworkspace

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
erf
*.dSYM/
*.i
*.dylib
*.pdb

# objs directory
objs/
out/

# makefiles
/Makefile
objs/Makefile

# editor swap files
*.swp

# vscode files
.vscode/

# Nore
/configure
auto/
nore/
.nore/
*.lis

# txt files
*.txt

# etags/ctags
**/TAGS
**/tags
**/*.tags

# darwin
.DS_Store

# materials
.materials
.rect_s
.symbol

# org mode
*.pdf
*.tex
**/*.html
**/*.odt

# info mode
*.tgz
*.dvi
*.doc
*.aux
*.cp
*.fn
*.ky
*.log
*.pg
*.tmp
*.toc
*.tp
*.vr

# nginx
src/nginx/nd.sh
src/nginx/nginx.sh
src/nginx/nginx.conf
src/nginx/nginx_home
src/nginx/njs/src

# leptonica
src/leptonica/leptonica_home

# java
**/*.jar

# node.js
**/node_modules/
**/package-lock.json
**/package.json

# ctl
**/ctl_home/

# redis
**/dump.rdb
src/redis/redis_home

# webassembly
src/webassembly/emsdk_home

# tesseract
src/tesseract/tesseract_home

# zig
src/zig/**/zig-cache/
src/zig/**/zig-out/

# rust
src/rust/**/target/
src/rust/**/Cargo.lock
**/.rustfmt.toml
**/rustfmt.toml

# gnucm
src/gnucm/c
src/gnucm/c-1
src/gnucm/c-2
src/gnucm/c-3

