[submodule "src/net/http-server/libuv"]
	path = src/net/http-server/libuv
	url = git@github.com:libuv/libuv.git
[submodule "src/net/http-server/http-parser"]
	path = src/net/http-server/http-parser
	url = git@github.com:nodejs/http-parser.git
[submodule "src/nginx/nginx_home"]
	path = src/nginx/nginx_home
	url = git@github.com:nginx/nginx.git
