name: C

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:

  Linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - CC: "gcc"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Env
        run: echo "_OS_ARCH_=$(uname -m)" >> $GITHUB_ENV
      - name: Build and Test
        env:
          _RLS_CONFIG_: --with-release=yes --with-optimize=yes
        run: |
          ./test.sh
      - name: Zip Build Artifact
        env:
          _ZIP_X_: -x "out/tmp" -x "*.o"
        run: |
          zip -r c-linux-${{ env._OS_ARCH_ }}.zip out/ ${{ env._ZIP_X_ }}
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: c-linux-${{ env._OS_ARCH_ }}.zip
          path: c-linux-${{ env._OS_ARCH_ }}.zip


  MacOS:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - CC: "clang"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Env
        run: echo "_OS_ARCH_=$(uname -m)" >> $GITHUB_ENV
      - name: Build and Test
        env:
          _RLS_CONFIG_: --with-release=yes --with-optimize=yes
        run: |
          ./test.sh
      - name: Zip Build Artifact
        env:
          _ZIP_X_: -x "out/tmp" -x "*.dSYM" -x "*.o"
        run: |
          zip -r c-macos-${{ env._OS_ARCH_ }}.zip out/ ${{ env._ZIP_X_ }}
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: c-macos-${{ env._OS_ARCH_ }}.zip
          path: c-macos-${{ env._OS_ARCH_ }}.zip


  Windows:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - CC: "cl"
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # checkout history and tags
    - name: Install Dependencies
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: git make zip mingw-w64-x86_64-gcc mingw-w64-x86_64
    - name: Setup Env
      run: echo "_OS_ARCH_=$(uname -m)" >> $GITHUB_ENV
    - name: Build and Test
      env:
        _RLS_CONFIG_: --with-release=yes --with-optimize=yes
      run: |
         ./test.sh
    - name: Zip Build Artifact
      env:
        _ZIP_X_: -x "out/tmp" -x "*.ilk" -x "*.pdb" -x "*.o"
      run: |
        zip -r c-windows-${{ env._OS_ARCH_ }}.zip out/ ${{ env._ZIP_X_ }}
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v1
      with:
        name: c-windows-${{ env._OS_ARCH_ }}.zip
        path: c-windows-${{ env._OS_ARCH_ }}.zip


# EOF
